:root {
  --blue-color: #3b76cf;
  --bg-color: #d5e3ef;
  --text-dark-color: #494949;
  --text-blue-color: #3b76cf;
  --regular-font-weigth: 400;
  --medium-font-weigth: 500;
  --transition: 0.2s ease;
  --hover-opacity: 0.8;
  --x-padding-desktop: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  font-optical-sizing: auto;
  color: var(--text-dark-color);
  font-weight: var(--regular-font-weigth);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

.section {
  max-width: 1680px;
  width: 100%;
  padding-left: var(--x-padding-desktop);
  padding-right: var(--x-padding-desktop);
}

.active {
  border-bottom: 2px solid var(--blue-color);
  opacity: var(--hover-opacity);
}

